@import url('https://fonts.googleapis.com/css?family=Laila&display=swap');

body {
  margin: 0;
  font-family: 'Laila', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/background.gif") no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

